/*
|   ---------------------------------------------------------------------------------
|   @Components (Banner)
|   ---------------------------------------------------------------------------------
|
*/

.banner{
    position: relative;
    width: 100%;
    height: 100%;
    background: url('../../resources/img/banner.png') no-repeat center center scroll;
    background-size: cover;
    overflow: hidden;
    display: flex;
    padding-top: 2rem;
    flex-direction: column;
}
    
.cuadro{
    height: 100%;
    width: 10rem;
    background-color: green;
}

.banner__logo{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    height: 10rem;
    width: max-content;
    margin-left: 10rem;
}

    @media screen and (min-width: 401px) and (max-width: 800px) {
        .banner__logo{
            justify-content: flex-end;
            
        }
        
    }

    @media screen and (min-width: 300px) and (max-width: 400px) {
        .banner__logo{
            margin-left: 8rem;
        }
        
    }


.banner__logo img{
    width: 70%;
}

    @media screen and (min-width: 401px) and (max-width: 800px) {
        .banner__logo img{
            width: 50%;
        }
    }
    @media screen and (min-width: 300px) and (max-width: 400px) {
        .banner__logo img{
            width: 30%;
        }
    }

.banner__titulo{
    font-family: var(--ff-texto);
    font-size: var(--fs-titulo-lg);
    position: absolute;
    left: 10rem;
    color: var(--color-black);
    top: 40%;
    word-break: break-all;
}
    @media screen and (min-width: 401px) and (max-width: 800px) {
        .banner__titulo{
            left: 10rem;
            font-size: 3rem;
        }   
    }

    @media screen and (min-width: 300px) and (max-width: 400px) {
        .banner__titulo{
            left: 8rem;
            font-size: 3rem;

        }
    }

.banner__titulo span{
    font-family: var(--ff-titulo);
    color: var(--color-green);
}